body {
    margin: 20;
    min-width: 960px;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #387eb8;
    background-color: #20101e;
    background-image: url ();
    background-repeat: no-repeat;
    background-position: top center;
  }
  main{
background-image: url(img/h3.jpg);
  }